/*
INDEX:
- Containers and wrappers
- Navbar
- Jumbotron
- Columns
- Formatting text
- List components
- List components - bullets
- Check boxes
- buttons
- footer
- Show task specific
- Add task specific
*/
html,
body {
 height: 100%;
}

/* Containers and wrappers */

.main-container {
 display: block;
 position: relative;
}

#index{
  background-color: #e9ecef;
}

#index form {
  background-color: white;
}

.wrapper{
  width: 800px;
  margin: 100px;
  justify-content: center;
  display: flex;
}

.container-buttons {
display: flex;
justify-content: center;
margin-bottom: 40px;
}

.column-container {
  display: flex;
  justify-content: center;
}

/* Nav bar top and bottom*/

#navbar {
  padding: -0.5rem 0rem;
}

a.nav-link.active {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 22px; /* Increased font-size */
}

a.nav-link.active.bottom {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: #2D3142; /* White text color */
  font-size: 50px; /* Increased font-size */
}

/*Jumbotron*/

.jumbotron {
  background-image: url(../images/to-do-2.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  /*opacity: 0.7*/
}
/*@media (min-width: 576px)*/
#index .jumbotron {
  margin-bottom: 0;
}

/* Columns */

.priority-and-due {
  width: 300px;
}

.priority {
  border-right: 2px solid #2D3142;
}

.col-sm {
  border-right: 2px solid #2D3142;
}
.col-sm:last-of-type { border-right: none; }

.col-sm {
  text-align: justify;
  margin: 7px;
}

.row {
  width: 90%;
}
/*Formatting text*/

#index .row {
  padding-bottom: 60px;
}

h3 {
  text-align: center;
}

/*Formatting text:  high priority and due today text*/

.deadline {
  margin-left: 2%;
}

/* List components */

ul {
  padding: 0;
}

li.week {
  line-height: 35px;
}

/* List components - bullets */

li.week::before {
  content: "\2022";
  /* Unicode of character to precede the list item */

  font-size: 1.5em;

  padding-right: 3px;

  padding-left: 0em;

  top: 0em;
}

.high {
  color: black;
  list-style: none;
}

.high::before {
  color: red;
  list-style: none;
}

.medium {
  color: black;
  list-style: none;
}

.medium::before {
  color: orange;
  list-style: none;
}

.low {
  list-style: none;
  color: black;
}

.low::before {
  color: yellow;
  list-style: none;
}

/* Check boxes*/
/* ------------------------------------------------------------- */

.css3--checkbox {
  list-style-type: none;
	display: inline-block;
}
.css3--checkbox li {
  display: inline-block;
  /* margin-right: 1em; */
}

:root .css3--checkbox 	label {
	    display: inline-block;
	    vertical-align: middle;
	}

:root .css3--checkbox label * { cursor: pointer; }
:root .css3--checkbox label:hover span,
	:root .css3--checkbox  label:hover span { color:green; }

:root .css3--checkbox input { border: none; }

	:root .css3--checkbox input[type="checkbox"] + span,
	:root .css3--checkbox input[type="checkbox"] + span::before {
	    display: inline-block;
	    vertical-align: middle;
	}

	:root .css3--checkbox input[type="checkbox"] {
	    opacity: 0;
	    position: absolute;
	}

	:root .css3--checkbox input[type="checkbox"] + span {
		font-size: 16px;
		font-weight: 400;
		text-transform: none;
		letter-spacing: 0;
	}

	:root .css3--checkbox input[type="checkbox"] + span::before {
	    content: "";
	    margin: 0 8px 0 0;
	    border: 2px solid #ccc;
	    line-height: 0.5;
	    text-align: center;
	}

	:root .css3--checkbox input[type="checkbox"]:checked + span::before { color:white; }

	:root .css3--checkbox input[type="checkbox"]:disabled + span {
	    cursor: default;
	    opacity: .4;
	}



	:root .css3--checkbox input[type="checkbox"] + span::before {
	   	width: 28px;
	    height: 28px;
	}

	:root .css3--checkbox input[type="checkbox"]:checked + span::before 	{
		content: '';
		background-image: url('../images/check.svg');
		background-color:green;
		border-color: green;
	}

/* Buttons */

button {
  justify-content: center;
  width: 100px;
  margin: 10px;
}

.btn {
  justify-content: center;
  width: 100px;
  margin: 10px;
}

.btn-primary {
  background-color: #264D90;
  border-color: #264D90;
}

#index btn {
  margin-top: 60px;
}

/*save button */

button.like{
  margin-bottom: 10px;
}

/*new task button*/
.button-round {
  /* To make a button perfectly round, it needs to be perfectly square first */
  width: 60px;
  height: 60px;
  /*
  A quick way to center what goes inside a button is using flex.
  Making the flex-direction column will make it easier to center it vertically.
  justify-content will center it vertically
  align-items will center it horizontally
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* The padding bottom is to adjust the vertical centering */
  padding-bottom: 10px;

  border-radius: 50%;
  border: 2px solid #f5f5f5;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size: 40px;
  color: #fff;
}


.button-round:hover {
    background: #262626;
}


/* footer */

footer {
  background-color: #e9ecef;
  padding: 50px 0;
  width: 100%;
  display: block;
  position: relative;
}

/* ------------------------Showtask.html --------------------------*/

.time {
  margin-left: 80px;
}

.task-property {
  font-size: 30px;
}

.high-title-border {
  border-left: 10px solid red;
}

.medium-title-border {
  border-left: 10px solid orange;
}

.low-title-border {
  border-left: 10px solid yellow;
}


/* ------------------------Addtask.html --------------------------*/

#index form a {
  color: black;
}

.add-task-form {
  margin-bottom: 20px;
}

/* Form */

#index form {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.alert {
  margin-bottom: 0rem;
}

.task-form-lg{
  display:block;
}
.task-form-sm{
  display:none;
}
.priority-and-due {
  width: 300px;
  display:block;
}
.priority-and-due-sm{
  display:none;
}
@media screen and (max-width:1194px){
  .task-form-lg{
    display:none;
  }
  .task-form-sm{
    display:block;
    text-align: center
  }
  .priority-and-due{
    display:none;
  }
  .priority-and-due-sm{
    display:block;
    text-align: center
  }
  .priority-and-due-sm .week{
    text-align: center;
  }
}
