<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Task</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Coda|Hind" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
</head>

<body>

    <h1>Task Manager</h1>


    <p>form stuff</p>

    <form  action="addtask" method="post">
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Task Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" name="title" placeholder="Task Title" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="time" class="col-sm-2 col-form-label">Time</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="time" name="time" placeholder="HH-MM-SS" required>
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Priority</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="priority" id="priority" value="high" checked>
              <label class="form-check-label" for="priority">
                High
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="priority" id="priority" value="medium">
              <label class="form-check-label" for="priority">
                Medium
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="priority" id="priority" value="low">
              <label class="form-check-label" for="priority">
                Low
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Optional"></textarea>
      </div>
      <input type="submit" name="add_button" value="Add">
    </form>


<!--<a href="{{url_for('addtask')}}"><button>add</a></button>-->

</body>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
