<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add task</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="main-container">
    <div class="navbar navbar-dark bg-dark shadow-sm" id="navbar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="http://127.0.0.1:5000/index"><i class="fa fa-home"></i></a>
        </li>
      </ul>
    </div>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Task Manager</h1>
        <p class="lead"></p>
      </div>
    </div>

<div class="container">

    <form  class="add-task-form" action="addtask" method="post">
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Task Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" name="title" placeholder="Task Title" required value="{{title}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" required value="{{date}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="time" class="col-sm-2 col-form-label">Time</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="time" name="time" placeholder="HH-MM-SS" required value="{{time}}">
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Priority</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="priority" id="priority" value="high" {%if priority =='high'%} checked {%endif%}>
              <label class="form-check-label" for="priority">
                High
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="priority" id="priority" value="medium" {%if priority =='medium'%} checked {%endif%}>
              <label class="form-check-label" for="priority">
                Medium
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="priority" id="priority" value="low" {%if priority =='low'%} checked {%endif%}>
              <label class="form-check-label" for="priority">
                Low
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Optional">{{description}}</textarea>
      </div>
      <div class="form-check">
        <input type="checkbox" id="status" name="status" value="{{status}}" {%if status =='complete'%} checked {%endif%}/>
        <label class="form-check-label" for="status">
          Status
        </label>
      </div>


      <input type="submit" name="save" value="Save Task">
      <input type="submit" name="delete" value="Delete Task">

    </form>

  </div>
  <!--end of container-->


<footer>
  <a class="nav-link active bottom" href="http://127.0.0.1:5000/index"><i class="fa fa-home"></i></a>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
