<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="main-container">
    <div class="navbar navbar-dark bg-dark shadow-sm" id="navbar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="index.html"><i class="fa fa-home"></i></a>
        </li>
      </ul>
    </div>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Task Manager</h1>
        <p class="lead"></p>
      </div>
    </div>

    <div class="container">
      {%with messages = get_flashed_messages(with_categories=true)%}
        {%if messages%}
          {%for category, message in messages%}
            <div class="alert alert-{{category}}">{{message}}</div>
          {%endfor%}
        {%endif%}
      {%endwith%}
      <form action="/index" method="post">
        <div class="column-container">
          <div class="row">
            {% for k,v in data.items() %}
            {% if k != 'high' and k != 'due' %}
            <div class="col-sm">
              <h3>{{k}}</h3>
              <ul class="css3--checkbox">
                {% for task in v %}
                <label>
                  <li class="week {{task['priority']}}"><span><a href="showtask/{{task['id']}}">{{task['title']}}</a>
                    {%if task['status']=='complete'%}</span>
                    <input type="checkbox" id="{{task['id']}}" name="check" value="{{task['id']}}" checked />
                    {% else %}
                    <input type="checkbox" id="{{task['id']}}" name="check" value="{{task['id']}}" />
                    {% endif %}
                </label>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            {%endfor%}
          </div><!-- .row -->
        </div>
        <!--end of column container-->


        <div class="wrapper-buttons">
          <div class="container-buttons">
          <input  type="submit" class="like btn btn-primary" name="save_button" value="Save">
          <a href="addtask"><button class ="btn btn-primary">Add Task</button></a>
          </div><!--end of container-buttons-->
          </div><!--end of wrapper-buttons-->

          </form>



  </div>
  <!--end of container-->

  </div>
  <!--main-container-->

  <footer>

    <div class="container">

      <div class="wrapper">
        <div class="column-container">
          <div class="row">
            <div class="col priority-and-due priority">
              {%for k,v in data.items()%}
              {%if k=='high'%}
              <h3>High Priority</h3>
              {%for task in v%}
              <ul>
                <li class="week {{task['priority']}}">{{task['title']}} <span class='deadline'>{{task['date']}}</span>
                </li>
              </ul>
              {%endfor%}
              {%endif%}
              {%endfor%}
            </div>

            <div class="col priority-and-due">
              {%for k,v in data.items()%}
              {%if k=='due'%}
              <h3>Due Today</h3>
              {%for task in v%}
              <ul>
                <li class="week {{task['priority']}}">{{task['title']}} {{task['priority']}} <span class='deadline'>{{task['date']}}</span>
                </li>
              </ul>
              {%endfor%}
              {%endif%}
              {%endfor%}
            </div>

          </div>
          <!--end of row-->
        </div>
        <!--end of column container-->
      </div>
      <!--end of container-->
    </div>
    <!--end of wrapper-->

  </footer>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>


</html>

<!-- Old add button: -->
<!--<button type="button" class="w3-circle button-round">&#43;</button>-->
