<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Task</title>
</head>

<body>

    <h1>Task Manager</h1>


    <p>Title: {{title}}</p>
    <p>Due Date: {{date}}</p>
    <p>Due Time: {{time}}</p>
    <p>Description:</p>
    <p>{{description}}</p>
    <p>{{priority}}</p>
    <p>{{status}}</p>

    <form action="showtask/{{id_t}}" method="post">
      <input type="submit" name="edit_button" value="Edit Task">
    </form>

    <form action="showtask/{{id_t}}" method="post">
      <input type="submit" name="delete_button" value="Delete Task">
    </form>

    <form action="showtask/{{id_t}}" method="post">
      <input type="submit" name="close_button" value="Close Task">
    </form>







</body>
</html>
