<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="index.html">Icon</a>
      </li>
    </ul>
  </div>

<div class="container">

<h1>Task Manager<h1>

  <h2>Task title:</h2>
  <p>{{task['title']}}</p>

  <h2>Date:</h2>
  <p>{{task['date']}}</p>

  <h2>Time:</h2>
  <p>{{task['time']}}</p>

  <h2>Priority:</h2>
  <p>{{task['priority']}}</p>

  <h2>Description:</h2>
  <p>{{task['description']}}</p>

</div><!--end of container-->

</body>
</html>
